<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Gold</title>
    <link rel="stylesheet" href="{% static 'gold/styles.css' %}">
</head>
<body>
    <h3>Gold: {{request.session.gold}}</h3>
    
    <form action="/process_money/farm" method="POST">
        {% csrf_token %}
        <h3>Farm</h3>
        <input type="submit" value="Steal Gold!">
    </form>
    
    <form action="/process_money/cave" method="POST">
        {% csrf_token %}
        <h3>Cave</h3>
        <input type="submit" value="Steal Gold!">
    </form>
    
    <form action="/process_money/house" method="POST">
        {% csrf_token %}
        <h3>House</h3>
        <input type="submit" value="Steal Gold!">
    </form>
    
    <form action="/process_money/casino" method="POST">
        {% csrf_token %}
        <h3>Casino</h3>
        <input type="submit" value="Steal Gold!">
    </form>

    <div id="log">
        {% for event in request.session.log %}
            <p class="{{event.0}}">{{event.1}}</p>
        {% endfor %}
    </div>
    <a href="/reset">Play Again</a>
    
    
    
</body>
</html>